In [2]:
import pandas as pd
url ='https://www.seoul.go.kr/coronaV/coronaStatus.do'
table = pd.read_html(url)
len(table)

7

In [4]:
table[0].T

         0    1     2     3    4
강남구   5052  +31  서대문구  1927  +22
강동구   2762   +7   서초구  3305  +14
강북구   1944   +7   성동구  2071  +10
강서구   3263  +17   성북구  2813  +18
관악구   3941  +17   송파구  4323  +24
광진구   2366   +8   양천구  2397  +15
구로구   2503   +9  영등포구  2935  +16
금천구   1337  +13   용산구  2145  +11
노원구   3047  +12   은평구  2945  +15
도봉구   1997   +5   종로구  1144   +6
동대문구  2387   +9    중구  1085   +7
동작구   3129  +24   중랑구  2766  +12
마포구   2641  +23    기타  5495  +12

In [14]:
table[2].T

             0       1       2
일자      검사자(명)  확진자(명)  확진율(%)
8.15.  32217.0   364.0     0.7
8.14.  49568.0   488.0     0.6
8.13.  79480.0   513.0     0.8
8.12.  68177.0   524.0     0.8
8.11.  62805.0   526.0     0.8
8.10.  65278.0   660.0     0.9
8.9.   72160.0   359.0     1.2